@import '../../assets/variables.scss';

.score-screen {
  height: 100vh;
  width: 100vw;
  background-color: $yellow-color;

  .scores {
    display: flex;
    justify-content: center;
    margin-top: 12rem;
    .team-score {
      width: 45rem;
      text-align: center;

      &:not(:last-child) {
        border-right: 2px solid black;
      }

      .team-name {
        font-size: 5rem;
        margin-bottom: 2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -2px;
        border-bottom: 2px solid $red-alternate-color;
        height: 5.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .list {
        list-style: none;

        &-item {
          font-size: 3rem;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }

  .play-again {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    border: 2px solid $green-color;
    width: 22rem;
    margin: auto;
    margin-top: 4rem;
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    background-color: white;

    .link {
      text-decoration: none;
      color: $green-color;
      text-transform: uppercase;
    }
  }
}
